{% extends 'base.html' %}
    {% block content %}

        {% if articles %}
            <ul>
                {% for article in articles %}
                    <li>
                        <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
                        <p>{{ article.content }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No articles available.</p>
        {% endif %}

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <p>Ingresa a tu sesión <a href="{% url 'login' %}">login</a> para comentar.</p>
        {% endif %}

    {% endblock %}
